.createContent
{
    width: 100%;
    padding: 80px;
    background-color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.createField
{
    margin-right: 1px;
}
.individualTest
{
    background-color: white;
    padding: 15px 68px;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 9px;
}

/* style="border-left: 1px solid #ced4da;border-radius: 5px 0px 0px 5px;border-top: 1px solid #ced4da;border-bottom: 1px solid #ced4da;padding-top: 12px;padding-left: 5px;padding-right: 5px;" */